
.menu {
  display:inline-flex;
}

.menu-list {
  display: flex;
  justify-content: center;  /* Centra los botones */
  list-style-type: none;
  padding: 0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin: 10px 10px;
}

.menu-link {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 2pt;
  background-color: darkgrey;
  transition: background-color 0.3s;
}

.menu-link:hover {
  background-color: white;
  color: blue;
}
